:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDot-border: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;
  --btnColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
body * {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}
p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}
.btn{
  margin-top: 20px;
  padding: 5px 10px; 
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: .8rem;
  background-color: var(--btnColor);
  letter-spacing: 1px;
  border: 2px solid var(--borderColor);
}

a {
  text-decoration: none;
  color: #17a2b8;
  font-family: "Roboto Mono", monospace;
}
.fab, .fas{
  color: var(--mainText);
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s3 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s4 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "new-wrapper new-wrapper"
    "left-column right-column";
}
.new-wrapper {
  grid-area: new-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}
.dots-wrapper {
  display: flex;
  padding: 10px;
}
#dot1 {
  background-color: #fc6058;
}
#dot2 {
  background-color: #fec02f;
}
#dot3 {
  background-color: #2aca3e;
}
.browser-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
#navigation {
  margin: 0;
  padding: 10px;
}
#navigation a {
  color: var(--mainText);
}
#navigation li {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}
#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  background-color: black;
  border: 2px solid var(--themeDot-border);

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.theme-dot:hover {
  border-width: 5px;
}
#light-mode {
  background-color: #fff;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4c74;
}
#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 150px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}
.corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}
#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}
/* ****************  ABOUT ********************** */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.social-links {
  display: grid;
  align-content: center;
}
.social-img {
  width: 400px;
}
.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.post {
  border: 1px solid var(--borderColor);

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

/* ******************  SKILLS ******************** */
.thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  border-bottom: 2px solid var(--borderColor);
}
.post-preview {
  background-color: #fff;
  padding: 15px;
}
.post-title {
  color: #000;
  margin: 0;
}
.post-intro {
  font-size: 14px;
  color: #4b5156;
}
.responsive{
  color: rgb(77, 86, 107);
  font-size: .9rem;
}
.y{
  color: #2aca3e;
}
.n{
  color: #8d1a1a;
}

/* ******************  CONTACT ******************** */

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}
#contact-form label {
  line-height: 2.7em;
}
.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  font-size: 14px;
}
#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}
#submitBtn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
}
@media only screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "new-wrapper"
      "left-column"
      "right-column";
  }
  .right-column {
    justify-content: center;
  }
  .social-links {
    display: grid;
    align-content: center;
    justify-content: center;
  }
  #preview {
    padding: 0px;
  }
  .social-img {
  width: 100%;
}
}
